*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body{
    font-family: 'Outfit', sans-serif ;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }  
  .container{
    background-color: white;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 18px;
    width: 300px;
    height: 500px;
    max-width: 375px;
    position: absolute;
  }

  h4{
    font-size: 20px;
  }

  .container h4{
    padding: 20px
  }

  .container p{
    padding: 0px 20px 10px 20px;
    font-size: 15px;
  }

  .qr_container{
    padding: 20px;
    position: relative;
  }
  
  .qr_image{
    position:relative;
    border-radius: 18px;
    height: 50%;
    width: 100%;
  }
